<div class="card text-white bg-secondary mt">
    <div class="card-header text-center">Signup</div>
    <div class="card-body">
        <div class="form-group">
            <input class="form-control" placeholder="Enter Name Here" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Enter User Name Here" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Enter Password Here" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Enter City Here" />
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-light form-control">Submit</button>
    </div>
</div>